/* FONTS */

@font-face {
    font-family: gtAlpinaRegular;
    src: url(../fonts/gt-alpina/gt-alpina-regular.otf);
  }
  
  @font-face {
    font-family: gtAlpinaRegularLight;
    src: url(../fonts/gt-alpina/gt-alpina-regular-light.otf);
  }
  
  @font-face {
    font-family: Coolvetica;
    src: url(../fonts/coolvetica/coolvetica_rg.otf);
  }
  
  @font-face {
    font-family: Coolvetica-Italic;
    src: url(../fonts/coolvetica/coolvetica\ rg\ it.otf);
  }
  
  @font-face {
    font-family: Mont;
    src: url(../fonts/mont/Mont-HeavyDEMO.otf);
  }
  
  body {
    margin: 20px;
    line-height: 1.6;
    background-color: #f2f2ea;
  }
  
  h1 {
    font-family: Coolvetica;
    color: #d8412dff;
    text-align: center;
    letter-spacing: 6px;
    font-size: 90px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p {
    width: 70%;
    font-family: gtAlpinaRegular;
    line-height: 2;
    font-size: 22px;
    color: rgb(77, 64, 64);
  }

  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: gtAlpinaRegular;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #ecdcdc;
    font-weight: bold;
  }
  

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Coolvetica;
    font-size: 20px;
    height: min-content;
    width: 100%;
    margin-top: 70px;
  }

  .ladybug {
    width: 100px;
    margin-top: 20px;
  }