/* FONTS */

@font-face {
  font-family: gtAlpinaRegular;
  src: url(fonts/gt-alpina/gt-alpina-regular.otf);
}

@font-face {
  font-family: gtAlpinaRegularLight;
  src: url(fonts/gt-alpina/gt-alpina-regular-light.otf);
}

@font-face {
  font-family: Coolvetica;
  src: url(fonts/coolvetica/coolvetica_rg.otf);
}

@font-face {
  font-family: Coolvetica-Italic;
  src: url(fonts/coolvetica/coolvetica\ rg\ it.otf);
}

@font-face {
  font-family: Mont;
  src: url(fonts/mont/Mont-HeavyDEMO.otf);
}

body {
  margin: 20px;
  line-height: 1.6;
  background-color: #f2f2ea;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: min-content;
  width: 100%;
  margin-bottom: 0;
}

.ladybug {
  width: 100px;
  margin-left: 20px;
  margin-top: 40px;
}

.title {
  font-family: Coolvetica;
  color: #d8412dff;
  text-align: center;
  letter-spacing: 3px;
  font-size: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

hr {
  height: 2px;
  width: 80%;
  background-color: #d8412dff;
  border: none;
}

.about-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: min-content;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 0;
}

.about {
  color: #2c3e50;
  font-family: Coolvetica;
  letter-spacing: 2px;
  font-size: 50px;
  margin: 0;
}

.star {
  width: 50px;
  margin-right: 10px;
}

.photo-and-bio {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.bio-paragraph {
  width: 35%;
  font-family: gtAlpinaRegular;
  line-height: 2;
  font-size: 18px;
  color: rgb(77, 64, 64);
  display: block;  
}

.kate-photo {
  width: 30%;
  height: auto;
  object-fit: contain;
  display: block;
}

.kate-drawing {
  width: 20%;
  display: block;  
  height: auto;
  object-fit: contain;
  display: block;
}

.topics-and-links {
  display: flex;
  justify-content: center;
}

.expert-topics-div {
  width: 30%;
}

#expert-topics {
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.expert-topics-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: min-content;
  margin-top: 80px;
  margin-bottom: 0;
}

.expert-topics-title {
  font-family: Coolvetica;
  color: #2c3e50;
  text-align: center;
  font-size: 40px;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 0;
}

.expert-topics-list-content {
  font-family: gtAlpinaRegular;
  line-height: 2;
  font-size: 22px;
  color: rgb(77, 64, 64);
  margin-left: 80px;
}

.other-links {
  width: 30%;
}

#other-links-list {
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.other-links-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: min-content;
  margin-top: 80px;
  margin-bottom: 0;
}

.other-links-title {
  font-family: Coolvetica;
  color: #2c3e50;
  text-align: center;
  font-size: 40px;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 0;
}

.other-links-list-text {
  font-family: gtAlpinaRegular;
  line-height: 2;
  font-size: 22px;
  color: rgb(77, 64, 64);
  margin-left: 80px;
}

